<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        <h4 class="modal-title custom_align" id="Heading">{{ title }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-2">
                Tài khoản <span class="required"> *</span>
            </div>
            <div class="col-lg-4">
                {{model.username}}
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-2">
                Mật khẩu <span class="required"> *</span>
            </div>
            <div class="col-lg-4">
                {{model.password}}
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-2">
                Họ tên <span class="required"> *</span>
            </div>
            <div class="col-lg-4">
                {{model.fullName}}
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-2">
                <label>Địa chỉ</label>
            </div>
            <div class="col-lg-4">
                {{model.address}}
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-2">
                <label>Ngày sinh</label>
            </div>
            <div class="col-lg-4">
                {{model.dateOfBirth | fdate : 'DD/MM/YYYY'}}
            </div>
        </div>
        <br />
        <div class="row" ng-if="model.files.length > 0">
            <div class="col-lg-2">
                <label>Tệp đính kèm</label>
            </div>
            <div class="col-lg-8">
                <a ng-repeat="item in model.files" href="{{item.url}}" target="_blank">
                    {{item.fileName}}
                </a>
                <br />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="cancel()">Đóng</button>
    </div>
</div>

