.required{
    color:#ff0000;
}
.label-custom {
    white-space: nowrap;
    margin-top: 8px;
}
.caption{
    font-size:26px;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}