<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
        <h4 class="modal-title custom_align" id="Heading">{{ title }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4 label-custom">
                    Chọn danh mục <span class="required"> *</span>
                </div>
                <div class="col-lg-8">
                    <select class="form-control" ng-model="model.choice" ng-change="changeChoice()">
                        <option value="">-- Chọn danh mục --</option>
                        <option ng-repeat="item in listAllMenuBar" value="{{item.id}}">{{item.title}}</option>
                    </select>
                </div>
                <hr />
                <table class="table table-bordered">
                    <tr>
                        <th>Tên Quyền</th>
                        <th>Trạng thái</th>
                    </tr>
                    <tr ng-repeat="item in listAllPermission">
                        <td>{{item.typePermission}}</td>
                        <td>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" ng-model="item.status" class="group-checkable" data-set="#sample_1 .checkboxes">
                                <span></span>
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="submit()">Áp dụng</button>
        <button type="button" class="btn btn-danger" ng-click="cancel()">Đóng</button>
    </div>
</div>

