
<div class="portlet-body" ng-if="permission.Access">
    <div class="row">
        <div class="col-lg-6">
            <font class="caption">Quản lý Quyền.</font>
        </div>
        <div class="col-lg-6 right">
            <div class="col-lg-7">
                <input type="text" class="form-control" placeholder="Tìm kiếm ..." ng-model="table.search" ng-model-options="{ debounce: 600}" ng-change="table.changeSearch()" />
            </div>
            <div class="col-lg-5">
                <button type="button" class="btn btn-default" ng-if="permission.Add" ng-click="dialogInsert()">
                    Thêm
                    <span class="glyphicon glyphicon glyphicon-plus"></span>
                </button>
                <button type="button" class="btn btn-default"  ng-click="reload()">
                    Tải lại
                    <span class="glyphicon glyphicon glyphicon-refresh"></span>
                </button>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped table-bordered table-hover dataTable table-checkable order-column" id="table1">
                <thead>
                    <tr>
                        <th style="width:5%;">
                            TT
                        </th>
                        <th tabindex="table1.PermissionCode" class="sorting" ng-click="table.changeOrder('PermissionCode','table1.PermissionCode')"> Mã quyền </th>
                        <th tabindex="table1.Title" class="sorting" ng-click="table.changeOrder('Title','table1.Title')"> Tiêu đề </th>
                        <th> Mô tả </th>
                        <th style="white-space: nowrap;"> Trạng thái </th>
                        <th> Phân Quyền chức năng </th>
                        <th ng-if="permission.View"> Xem </th>
                        <th ng-if="permission.Edit"> Cập nhật </th>
                        <th ng-if="permission.Delete"> Xóa </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX" ng-repeat="item in table.results">
                        <td style="width:5%;">{{table.fromRow + $index}}</td>
                        <td style="width:15%;"> {{item.permissionCode}} </td>
                        <td style="width:20%;"> {{item.title}} </td>
                        <td style="width:30%;"> {{item.description}}</td>
                        <td style="width:10%;white-space: nowrap;"> {{item.status ? 'Sử dụng' : 'Không sử dụng'}}</td>
                        <td style="width:30%;">
                            <button type="button" ng-click="dialogView(item.id)" class="btn btn-default btn-sm">
                                Phân quyền chức năng  <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                        </td>
                        <th style="width:10%;" ng-if="permission.View">
                            <button type="button" ng-click="dialogView(item.id)" class="btn btn-default btn-sm">
                                Xem  <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                        </th>
                        <th style="width:10%;" ng-if="permission.Edit">
                            <button type="button" ng-click="dialogUpdate(item.id)" class="btn btn-default btn-sm">
                                Sửa  <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </th>
                        <th style="width:10%;" ng-if="permission.Delete">
                            <button type="button" ng-click="dialogDelete(item.id,item.title)" class="btn btn-default btn-sm">
                                Xóa  <span class="glyphicon glyphicon-remove-sign"></span>
                            </button>
                        </th>
                    </tr>
                    <tr class="odd gradeX" ng-if="table.results.length == 0">
                        <td colspan="10">
                            Không có bản ghi nào ...
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-lg-4">
                    bản ghi thứ {{table.fromRow}} tới {{table.endRow}} trong tổng {{table.totalItem}}.
                </div>
                <div class="col-lg-8" style="text-align:right;">
                    <uib-pagination ng-model="table.currentPage"
                                    ng-change="table.changePagging()"
                                    items-per-page="table.numberPage"
                                    total-items="table.totalItem"
                                    max-size="table.maxSize"
                                    boundary-links="true"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>